.search-details-row {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    padding: 1.5rem 0;
    margin: 1.5rem 0;
    border-bottom: 1px solid #d4d4d4;
}

.results-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}